<for each='question in data.questions'>
    <div class="container questionContainer link='${question.id}">
  		<div class="panel panel-default">
    		<div class="panel-heading">${question.question}  (${question.answer_count} Answers)</div>
   	 		<div class="panel-body">${question.question} </div>
  		</div>
	</div>
</for>
